.dialog-body {

    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 0;

}

.dialog-header {

    width: 100%;
    height: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
    box-shadow: 0px 0px 20px 5px rgb(151, 21, 21);
    z-index: 2;
}

.h2-dialog {
<<<<<<< HEAD

=======
>>>>>>> 9cec200f95910b3a79e2531a3bbb278f5c65c973
    display: flex;
    font-family: "Boldonse", system-ui;
    font-weight: bold;
    margin-block-start: 0em;
    margin-block-end: 0em;

}

.divider-dialog {

    width: 12px;
    height: 20px;
    background-color: var(--headline-color1);
    margin: 0 16px;
    transform: rotate(35deg);
    border: 3px solid;
    color: var(--headline-color2);
    border-radius: 3px;
    display: inline-block;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

.headline-title-dialog {

    display: flex;
    margin-top: 12px;
}

.part-1-dialog {

    display: flex;
    color: var(--headline-color1);
    font-size: 32px;
    font-weight: bolder;
    transform: rotate(5deg);
}

.part-2-dialog {

    color: var(--headline-color2);
    font-weight: bolder;
    transform: rotate(-4deg);
    font-size: 30px;
}

.close-button-dialog {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 180px;
    border-width: 6px;
    font-size: 30px;
    padding-bottom: 4px;
    font-family: "Boldonse", system-ui;
    font-weight: bold;
<<<<<<< HEAD
    cursor: pointer;
=======
>>>>>>> 9cec200f95910b3a79e2531a3bbb278f5c65c973

}

.nav-dialog {
<<<<<<< HEAD

=======
>>>>>>> 9cec200f95910b3a79e2531a3bbb278f5c65c973
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding-top: 6px;
    padding-left: 16px;
    padding-right: 8px;
}

<<<<<<< HEAD
.main-dialog {

    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 5px 20px 0px rgb(151, 21, 21);
    border-radius: 16px;
=======

.main-dialog {
    height: 63vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 10px 20px 8px rgb(151, 21, 21);
>>>>>>> 9cec200f95910b3a79e2531a3bbb278f5c65c973

}

.upper-section-dialog {
    background-color: black;
    display: flex;
<<<<<<< HEAD
=======
    height: 30px;
>>>>>>> 9cec200f95910b3a79e2531a3bbb278f5c65c973

}

.dialog-name-container {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4px;
<<<<<<< HEAD
    padding-left: 8px;
}

.upper-section-container {

    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-evenly;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    box-shadow: 5px 5px 8px 0px var(--link_and_img-color);

=======
    flex: 1;
    box-sizing: border-box;
    padding-left: 16px;
}

.singel-dialog {

    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    box-shadow: 5px 5px 8px 0px var(--link_and_img-color);
    
>>>>>>> 9cec200f95910b3a79e2531a3bbb278f5c65c973
}

.dialog-name {

    margin-top: 8px;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 16px;

}

.dialog-pkName {

    font-family: "Ubuntu", sans-serif;
<<<<<<< HEAD
    font-size: 26px;
=======
    font-size: 30px;
>>>>>>> 9cec200f95910b3a79e2531a3bbb278f5c65c973
    font-weight: bold;
    color: var(--color-black);

}

.dialog-images {
<<<<<<< HEAD

    max-width: 150px;
    max-height: 160px;

}

.dialog-img-container {
    max-width: 160px;
    max-height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: -21px;
=======
    width: 200px;
    height: 200px;
    
}
.dialog-img-container{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -16px;
}

.thumbnail-images:hover {

    transform: scale(1.3);
    transform: rotate(360deg);
    transition: 0.7s;
>>>>>>> 9cec200f95910b3a79e2531a3bbb278f5c65c973

}

.dialog-pk-types {

    display: flex;
    align-items: flex-start;
<<<<<<< HEAD
    flex-direction: column;
    box-sizing: border-box;
    flex: 1;
    gap: 8px;
=======
    justify-content: center;
    box-sizing: border-box;
    flex: 1;
    gap: 8px;;
>>>>>>> 9cec200f95910b3a79e2531a3bbb278f5c65c973

}

.dialog-pkType-name1 {
<<<<<<< HEAD

=======
>>>>>>> 9cec200f95910b3a79e2531a3bbb278f5c65c973
    display: flex;
    justify-content: center;
    width: 80px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    padding: 2px 6px 2px 6px;
    color: var(--color-black);
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 400;
<<<<<<< HEAD

}

.dialog-pkType-name2 {

=======
}

.dialog-pkType-name2 {
>>>>>>> 9cec200f95910b3a79e2531a3bbb278f5c65c973
    display: flex;
    justify-content: center;
    width: 80px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    padding: 2px 6px 2px 6px;
    color: var(--color-black);
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

<<<<<<< HEAD
.dialog-typeNames-img {
=======
.dialog-typeNames-img{
>>>>>>> 9cec200f95910b3a79e2531a3bbb278f5c65c973

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

<<<<<<< HEAD


.about-section-dialog {

    margin-top: 30px;
    display: flex;
    flex-direction: column;

}

.about-lower-container {

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

li {

    margin-bottom: 8px;

}

.about,
.states,
.evolution,
.moves {

    display: flex;
    list-style: none;
    padding: 8px;
    padding-bottom: 8px;
    width: 100%;
    height: 235px;
}

.about-content,
.states-content,
.evolution-content,
.moves-content {

    margin-top: 20px;

}

td {
    padding-bottom: 6px;
}

.dialog-content {

    height: 300px;

}

.dialogButtons {

    border-width: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
}

.dialogButtons:focus {
    background-color: #FF3D00;
    color: white;
    border-color: #fff;
}

.footer-dialog {

=======
.lower-section-dialog{
display: flex;
justify-content: center;
align-items: center;



}

.lower-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-left: 8px;
  margin-right: 8px;
  
}

.footer-dialog {
>>>>>>> 9cec200f95910b3a79e2531a3bbb278f5c65c973
    width: 100%;
    height: 50px;
}

.arrow-container {
<<<<<<< HEAD

    display: flex;
    justify-content: space-between;
    margin-top: 12px;
=======
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
>>>>>>> 9cec200f95910b3a79e2531a3bbb278f5c65c973
    border-radius: 25px;
    border-style: solid;
    background-color: rgb(66, 84, 219);
    box-shadow: 2px 2px 10px 15px rgba(66, 84, 219, 0.5);
}

.arrow-button {
<<<<<<< HEAD

=======
>>>>>>> 9cec200f95910b3a79e2531a3bbb278f5c65c973
    display: inline-block;
    justify-content: center;
    align-items: flex-start;
    border-radius: 50%;
    border-width: 6px;
    font-size: 20px;
    color: white;
    background: rgba(255, 44, 0);
<<<<<<< HEAD
    cursor: pointer;
=======
>>>>>>> 9cec200f95910b3a79e2531a3bbb278f5c65c973
}

.pokemon-dialog {

    width: 90%;
<<<<<<< HEAD
    width: 318px;
    height: 615px;
=======
    max-width: 350px;
    height: auto;
    max-height: 80vh;
>>>>>>> 9cec200f95910b3a79e2531a3bbb278f5c65c973
    border-radius: 16px;
    border: 2px;
    border-style: solid;
    border-color: var(--color-white);
    box-shadow: 5px 5px 8px 0px var(--link_and_img-color);
    background-color: transparent;
<<<<<<< HEAD
    scrollbar-width: thin;
}

.pokemon-dialog::backdrop {

    background-color: rgba(0, 0, 0, 0.7);

}

@media(max-width:399px) {

    .dialog-header {

        height: 60px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;

    }

    .divider-dialog {

        width: 6px;
        height: 14px;
        margin: 0 10px;
        border-radius: 3px;
        margin-top: 4px;
    }

    .headline-title-dialog {

        display: flex;
        margin-top: 12px;
    }

    .part-1-dialog {

        font-size: 24px;

    }

    .part-2-dialog {


        font-size: 24px;
    }

    .close-button-dialog {

        width: 35px;
        height: 35px;
        border-radius: 180px;
        border-width: 6px;
        font-size: 28px;

    }

    .nav-dialog {

        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
        padding-top: 5px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .dialog-images {

        width: 120px;
        height: 140px;

    }

    .dialog-pkName {

        font-size: 21px;

    }

    .dialog-name-container {

        padding-left: 0px;
        
    }

    .about-section-dialog {

        margin-top: 24px;
        display: flex;
        flex-direction: column;

    }

    .dialogButtons {

        border-width: 2px;
        border-radius: 16px;
        cursor: pointer;
        transition: all 0.2s;
        font-size: 14px;

    }

    .pokemon-dialog {

        width: 90%;
        width: 255px;
        height: 590px;
        border-radius: 16px;
        border: 2px;
        border-style: solid;
        border-color: var(--color-white);
        box-shadow: 5px 5px 8px 0px var(--link_and_img-color);
        background-color: transparent;
        /* padding: 3px; */
        scrollbar-width: thin;
    }

    .arrow-container {

        margin-top: 5px;

    }

=======
    padding: 3px;
>>>>>>> 9cec200f95910b3a79e2531a3bbb278f5c65c973
}