h1 {

    display: flex;
    font-family: "Boldonse", system-ui;
<<<<<<< HEAD
    font-weight: bold;
    align-items: center;
    text-transform: none;
    margin-top: 6px;

=======
    font-weight:bold;
    align-items: center;
    text-transform: none;
    margin-top: 6px;
     
>>>>>>> 9cec200f95910b3a79e2531a3bbb278f5c65c973
}

.part-1 {

    color: var(--headline-color1);
    font-size: 63px;
    font-weight: bolder;
    transform: rotate(4deg);
}

.part-2 {

    color: var(--headline-color2);
    font-weight: bolder;
    transform: rotate(-3deg);
<<<<<<< HEAD
    font-size: 60px;
=======
     font-size: 60px;
>>>>>>> 9cec200f95910b3a79e2531a3bbb278f5c65c973
}

.divider {

    width: 18px;
    height: 30px;
<<<<<<< HEAD
    background-color: var(--headline-color1);
=======
    background-color:var(--headline-color1);
>>>>>>> 9cec200f95910b3a79e2531a3bbb278f5c65c973
    margin: 0 15px;
    transform: rotate(35deg);
    border: 3px solid;
    color: var(--headline-color2);
    border-radius: 3px;
    display: inline-block;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
<<<<<<< HEAD
}

@media(max-width:999px) {

    .part-1 {

        font-size: 45px;
    }

    .part-2 {

        font-size: 40px;
    }

    .divider {

        width: 10px;
        height: 20px;
    }

}

@media(max-width:767px) {

    .part-1 {

        font-size: 40px;
    }

    .part-2 {


        font-size: 38px;
    }

    .divider {

        width: 10px;
        height: 20px;
    }
=======
>>>>>>> 9cec200f95910b3a79e2531a3bbb278f5c65c973
}